@import "reset.css";
@import "prettyPhoto.css";
@import "jquery.jscrollpane.css";
@import "jplayer.css";

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }

/* Left & Right alignment */

.left { float:left;}
.right { float:right;}
.clear {clear:both;}
.table {display:table;}
.wrapper {width:100%; overflow:hidden;}
.relative {position:relative;}
.absolute {position:absolute;}

/* Global properties ======================================================== */
body, html {height:100%;}

body{ background:#FF0000; border:0; font: 12px Arial, Helvetica, sans-serif; color:#D6D6D6 ; line-height:18px; min-width:1000px; position:relative; overflow:hidden;min-width:1000px;}

.spinner{ position:absolute; z-index:99; background:url(../images/loader.gif) 50% 50% no-repeat #000; width:100%; height:100%; top:0; left:0}

#bgStretch {overflow:hidden;z-index:-1; position:fixed}

.extra {min-width:1000px;min-height:100%; height:auto !important; height:100%; margin: 0 auto 0px; overflow:hidden; position:relative; z-index:10;}


.main1 { width:100%;height:625px; position:relative; z-index:1; background-color:#FF0000;}

.main2{ width:1099px; height:674px; background-color:#FFA1B5; position:absolute; left:50%; top:50%; margin-left:-550px; margin-top:-360px; z-index:10;}

.splash{ width:1000px; height:400px; position:absolute; left:50px; top:130px; z-index:20;}
#slider { display:block; width:1000px; height:400px; overflow: hidden; white-space:nowrap;}
#slider li{ position:relative; float:left; display:inline; overflow:hidden;}
#slider li img{ position:relative; z-index:1;}
#slider li a{ text-decoration:none;}
#slider li .over{ width:100%; height:100%; background:#000; position:absolute; left:0; top:0; z-index:2;}
#slider li .txt1{ width:280px; background:url(../images/px1.png); position:absolute; left:0; bottom:10px; z-index:3; text-align:center; text-transform:uppercase;font-family:'NeouThin'; font-size:30px; line-height:30px; padding:10px 0; color:#686868; text-decoration:none;}

.lines{ width:1000px; position:absolute; left:50px; top:122px; z-index:2;}
.lines .lines1{ width:1000px; height:1px; background:#333437; position:absolute; left:0; top:0; z-index:1;}
.lines .lines2{ width:1000px; height:1px; background:#333437; position:absolute; left:0; top:428px; z-index:1;}

header{ width:100%; position:absolute; left:0; top:30px; z-index:11; text-align:center;}

.logo { display:inline-block;text-decoration:none; }
.logo .txt1{ text-decoration:none; font-family:'NeouThin'; font-size:60px; line-height:120px; color:#f7f9fa; text-transform:uppercase;}
.logo .txt1 span{ color:#FFFFFF;}
#.logo .txt2{ text-decoration:none; font-family:'NeouThin'; font-size:40px; line-height:20px; color:#7e7e7e; text-transform:uppercase;}

footer{ width:100%; height:41px; background-color:#FFFFFF; position:absolute; left:0; bottom:0; z-index:20; text-align:center;}

.icons { display:inline-block; padding-top:7px; position:relative; z-index:3;}
.icons > li { display:inline-block; padding:0 2px;position:relative;}
.icons > li > a{display:block; width:100%; height:30px;}

.copyright{color:#686868; line-height:41px; position:absolute; left:10px; top:0; z-index:1; text-align:left;}
.copyright a { color:#fff; text-decoration: underline;}

.tola{ position:absolute; right:10px; top:5px; z-index:1; text-align:left;}


/* ============================= main menu ====================== */

.menu { display:block; width:1000px; height:98px; position:absolute; left:50px; bottom:15px; z-index:10; white-space:nowrap; }
#menu { }
#menu > li{display:inline-block; width:200px;height:98px;position:relative;float:left;background:url(../images/nav.png) 0 0 no-repeat;}
#menu > li:first-child{ background:none;}
#menu > li > a{display:block; width:100%; height:100%; text-decoration:none; position:relative; font-family:'NeouBold';font-size:20px; line-height:98px; color:#FFFFFF;text-transform:uppercase; text-align:center; letter-spacing:3px; }

#menu > li > a:hover , #menu > li.sfHover > a { text-decoration:none; background-color:#FFFFFF; color:#FFA1B5}
#menu > li.active > a {text-decoration:none; color:#FFFFFF; background:url(../images/markers.png) center 15px no-repeat; background-color:#FFA1B5;}

.menu_gallery { display: inline-block; height:20px; position:absolute; right:50px; top:35px; z-index:10; white-space:nowrap; }
.menu_gallery ul { }
.menu_gallery  li{display:inline-block; height:20px;position:relative;float:left;background:url(../images/markers2.gif) 0 center no-repeat; padding:0 10px;}
.menu_gallery  li:first-child{ background:none;}
.menu_gallery  li > a{text-decoration:none; position:relative; line-height:20px; color:#2A2A2A;text-align:center; }
.menu_gallery  li > a:hover { text-decoration: underline; color:#fff;}
/* ============================= main layout ====================== */



#content{ width:1000px; height:427px; position:absolute; left:50px; top:123px; z-index:10; overflow:hidden; }
#content > ul{ }
#content > ul > li{ width:1000px; height:427px; position:absolute; overflow:hidden;}

.box{ width:950px;height:407px; position:relative; padding:20px 20px 0px 30px;}

.col0,.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12   { float:left;}

.col0 { width:1px; height:388px; background:#282828; margin-left:29px; margin-right:30px;}

.col1{ width:330px;}
.col2{ width:560px;}
.col3{ width:600px;}
.col4{ width:290px;}
.col5{ width:430px;}
.col6{ width:460px;}





.pad_left1{ padding-left:10px;}
.pad_left2{ padding-left:20px;}
.pad_left3{ padding-left:30px;}
.pad_left4{ padding-left:40px;}
.pad_left5{ padding-left:50px;}
.pad_left6{ padding-left:60px;}




a{ color:#fff; text-decoration: underline; outline:none}
a:hover{ text-decoration: none}

h2{ font-family:'NeouBold';font-weight:normal; font-size:30px; color:#FFFFFF; line-height:30px; padding:10px 0 20px 0; text-transform:uppercase;  }
h3{ font-family:'NeouBold';font-weight:normal; font-size:16px; color:#fff; line-height:20px; padding:0px 0 5px 0; text-transform:uppercase;  }
h4{ font-family:'NeouBold';font-weight:normal; font-size:16px; color:#FFFFFF; line-height:20px; padding:0px 0 5px 0; text-transform:uppercase;  }


.upper { text-transform:uppercase;}

.color1{ color:#fff;}


.text { padding:0 0 5px;}

.line1 { height:1px; background: url(../images/line1_px.png) 0 0 repeat-x; margin:15px 0;}

.radius1{border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;}

.border1 { border:1px solid #707070;}



.img1 {margin-bottom:20px;margin-right:20px;}
.img2 {margin-right:20px; }
.img3 {margin-bottom:20px;}

.button1{ display:inline-block; height:16px; line-height:16px;  position:relative; text-decoration:none; margin-top:10px; margin-bottom:10px; font-size:16px; font-family:'NeouBold'; color:#FFFFFF; text-transform:uppercase; white-space:nowrap; letter-spacing:0px; background:url(../images/button1.png) left 3px no-repeat; padding-left:15px;}
.button1:hover { color:#fff;}

.ul1 > li { line-height:30px;}
.ul1 > li a{ display:block; text-decoration:none; color:#fff; font-size:16px; font-weight:normal; font-family:'NeouBold'; text-transform:uppercase; background:url(../images/li_st1.png) 0 5px no-repeat; padding-left:20px;}
.ul1 > li a:hover{ text-decoration:none; color:#ff002a; background:url(../images/li_st1_over.png) 0 5px no-repeat;}

.gal1 { width:219px; margin-bottom:20px; float:left; margin-right:10px; background:#2a2a2a; }
.gal1.last { margin-right:0px; }
.gal1:hover{ background:#ab001c;}
.gal1 .txt1{ padding-left:10px; padding-bottom:10px;}
.gal1:hover .txt1{ color:#fff;}
.photo1 {width:219px; height:261px;margin-bottom:10px;}

.google_map{

	width: 430px;
	height: 300px;
	border-radius:0px;
	background: #fff;
	position:relative;
	overflow:hidden; margin-bottom:20px;
}


/*===================== jScrollPane =====================*/

.scroll-pane{width: 100%; height:329px; overflow: auto;}


/*================= Contacts =========================*/

#note{ width:450px;}
.notification_error{ color:#f00; margin-bottom:5px }
.notification_ok{ text-align: center;} 

#ajax-contact-form label{float:left; width: 100px; line-height:31px; color:#b0b0b0;}
#ajax-contact-form label.c{ margin-top:25px;}

input{ float:left; width:340px; height:30px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #000; background: #eeeef6 url(../images/form_px1.jpg) 0 0 repeat-x; margin-bottom:5px; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; }

textarea{ float:left; width:340px; height:50px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color: #000; background: #eeeef6 url(../images/form_px2.jpg) 0 0 repeat-x;  margin-bottom:5px; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;}

#ajax-contact-form img{float:left; width:150px; height:53px; margin-top:5px;}

input.capthca{ float:left; width:119px; margin-top:25px; margin-right:10px;}

input.submit{ width:119px; height:37px; cursor:pointer; background:url(../images/submit.png) left top no-repeat; border:none; margin:5px 0 0 100px; border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;  text-indent:-999%; }
input.submit:hover{ background-position:bottom;}


/* Generated by Font Squirrel (http://www.fontsquirrel.com)  */

@font-face {
    font-family: 'NeouThin';
    src: url('neou-thin-webfont.eot');
    src: url('neou-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('neou-thin-webfont.woff') format('woff'),
         url('neou-thin-webfont.ttf') format('truetype'),
         url('neou-thin-webfont.svg#NeouThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'NeouBold';
    src: url('neou-bold-webfont.eot');
    src: url('neou-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('neou-bold-webfont.woff') format('woff'),
         url('neou-bold-webfont.ttf') format('truetype'),
         url('neou-bold-webfont.svg#NeouBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
